/* button {
    background-color: aquamarine;
    border-radius: 20px;
} */


#app {
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 20px;
    flex-direction: column;
}

/* Buttons */
button {
    background-color: #4CAF50; /* Jordnær grønn farge */
    color: white; /* Hvit tekst for kontrast */
    border: 2px solid #2E7D32; /* Litt mørkere grønn for ramme */
    border-radius: 8px; /* Litt avrundede kanter */
    padding: 10px 20px; /* Polstring for størrelse */
    font-size: 16px; /* God skriftstørrelse for lesbarhet */
    font-family: 'Arial', sans-serif; /* Enkel, ren skrifttype */
    cursor: pointer; /* Pekeren endres til hånd ved hover */
    transition: background-color 0.3s ease, border 0.3s ease; /* Jevn overgang for hover-effekt */
}

button:hover {
    background-color: #388E3C; /* Mørkere grønn ved hover */
    border-color: #1B5E20; /* Enda mørkere grønn for rammen ved hover */
}

button:active {
    background-color: #2E7D32; /* Litt mørkere grønn når knappen er aktiv */
    border-color: #1B5E20; /* Matcher rammen ved hover */
}

/* Side menu */

.side-menu {
    background-color: blue;
    height: 100%;
    width: 100px;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    right: 0;
}

.hamburger-icon {
    font-size: 3em;
    padding: 10px;
    cursor: pointer;
    align-self: self-end;
}


.nav-menu {
    max-height: 50px;
    transition: 300ms ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.nav-menu button {
    align-self: center;
    max-width: 90%;
    border: 0;
    background-color: rgb(255, 255, 255);
    color: black;
}

.nav-menu button:hover {
    background-color: lightgray;
}

.nav-menu.open {
    max-height: 300px;
}