

/* App container */
#app {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ECE6DC; /* Stone Gray - main background color */
}

/* Buttons */
button {
    background-color: #4B6A50; /* Forest Green - primary button color */
    color: #D8C3A5; /* Warm Beige - text color */
    border: 2px solid #8B6B61; /* Muted Brown - button border */
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}

button:hover {
    background-color: #A3B18A; /* Soft Moss - hover effect color */
    border-color: #607D8B; /* Slate Blue - hover border color */
}

button:active {
    background-color: #8B6B61; /* Muted Brown - active button background */
    border-color: #4B6A50; /* Forest Green - active border color */
}


/* Side menu */

.side-menu {
    background-color: blue;
    height: 100%;
    width: 100px;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    right: 0;
}

.hamburger-icon {
    font-size: 3em;
    padding: 10px;
    cursor: pointer;
    align-self: self-end;
}


.nav-menu {
    max-height: 50px;
    transition: 300ms ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.nav-menu button {
    align-self: center;
    max-width: 90%;
    border: 0;
    background-color: rgb(255, 255, 255);
    color: black;
}

.nav-menu button:hover {
    background-color: lightgray;
}

.nav-menu.open {
    max-height: 300px;
}