.friends-profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    margin: 0.5em;
    text-align: center;
    overflow: hidden;
}

.friends-profile-container img {
    width: 100%;
}

.friends-profile-card {
    overflow: hidden;
}

.friend-view img {
    width: 20em;
    align-self: center;
}

select {
    width: 50%;
    align-self: center;
    padding: 0.5em;
}

.achievements img{
    height: 50px;
}

.achievements {
    display: flex;
    gap: 1em;
}