.hamburger-icon {
    font-size: 5em;
    cursor: pointer;
    align-self: self-end;
    outline: none;
    user-select: none;
}

.nav-menu {
    max-height: 5em;
    padding: 1em;
    transition: 500ms ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.nav-menu button {
    align-self: center;
    max-width: 90%;
    border-radius: 0.3em;
    border: 0;
    background-color: hsl(180,40%,75%);
    color: black;
    font-size: large;
    margin: 0.4em;
    padding: 0.4em;
    box-shadow: none;
}

.nav-menu button:hover {
    background-color: lightgray;
}

.nav-menu.open {
    max-height: 40em;
}